/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Menú superior fijo */
  .fixed-menu {
    position: sticky; /* Se mantiene en la parte superior al hacer scroll*/
    top: 0;
    width: 100%;
    background-color: rgb(153, 242, 255);
    display: flex;
    justify-content: flex-start;  /*Alinear elementos a la izquierda*/
    gap: 30px;
    padding: 10px;
    z-index: 1000;
  }
  
  .fixed-menu a {
    text-decoration: none;
    color: rgb(0, 102, 204);
    font-weight: bold;
  }

  .fixed-menu a:hover {
    color: rgb(0, 51, 153); /* Azul más oscuro al pasar el mouse */
  }
  
  /* CONTENEDOR AZUL (general) */
  .blue-box {
    display: flex;
    width: 80%;
    margin: 20px auto;
    border: 2px solid rgb(60, 78, 150);
    box-sizing: border-box;
    padding: 20px; /*Espacio interno*/
  }
  
  /* CONTENEDOR MARRÓN (main-container) */
  .brown-box {
    flex: 2;
    padding: 20px;
    border: 2px solid rgb(106, 61, 47);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* CONTENEDOR ROSA (imagen) */
  .pink-box {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid rgb(255, 105, 180);
    margin: 10px; /*Separa del marrón*/
  }

  /* IMAGEN */
  .image {
    width: 100%;
    height: auto;
  }
  /* CONTENDOR ROSA (contenido) */
  .pink-content {
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* CONTENEDORES VERDES */
  .green-box {
    border: 2px solid rgb(153, 255, 102);
    margin: 10px 0;
    padding: 20px;
  }
  
  .title h2 {
    margin: 0;
    font-size: 1.5em;
    color: rgb(105, 140, 150);
  }
  
  .text {
    text-align: justify;
  }
  
  /* MENÚ LATERAL (verde) */
  .green-sidebar {
    flex: 1;
    border: 2px solid rgb(153, 255, 102);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 40px 10px 20px 10px;
    box-sizing: border-box;
  }

  /* Botones de menú lateral */
  .menu {
    background-color: rgb(59, 89, 152);
    color: white;
    font-weight: bold;
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.1em;
    width: 70%;
  }
  
  .menu:hover {
    background-color: darkblue;
  }
  
  /* BOTÓN FIJO INFERIOR DERECHA */
  .fixed-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(173, 255, 132);
    padding: 10px;
    border: 2px solid rgb(90, 141, 45);
    border-radius: 60px;
    font-weight: bold;
  }
  